@font-face {
  font-family: ArchivoBold;
  src: url("../../assets/fonts/Archivo-Bold.ttf");
}
@font-face {
  font-family: ArchivoSemiBold;
  src: url("../../assets/fonts/Archivo-SemiBold.ttf");
}
@font-face {
  font-family: ArchivoMedium;
  src: url("../../assets/fonts/Archivo-Medium.ttf");
}
@font-face {
  font-family: ArchivoRegular;
  src: url("../../assets/fonts/Archivo-Regular.ttf");
}
@font-face {
  font-family: ArchivoLight;
  src: url("../../assets/fonts/Archivo-Light.ttf");
}
@font-face {
  font-family: DMSerifDisplayRegular;
  src: url("../../assets/fonts/DMSerifDisplay-Regular.ttf");
}
