$tablet: 850px;
@import "../../constants/scss/colors";
@import "../../constants/scss/default";
@import "../../constants/scss/variables";
@import "../../constants/scss/mixins";
@import "../../constants/scss/framework";

.admin-auth {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  input {
    background-color: transparent !important;
  }
  .buttons {
    display: flex;
    justify-content: center;

    img {
      margin-left: 10px;
      width: 20px;
      height: 20px;
    }
    .oak-admin-auth-btn {
      padding: 1em 2em;
      font-size: 1.5em;
    }

    @include tablet() {
      flex-direction: column;
      align-items: center;
    }
  }
}
