@import "../../../constants/scss/colors";
@import "../../../constants/scss/variables";
@import "../../../constants/scss/mixins";
body {
  font-size: 10px !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ArchivoRegular;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.5;
}
p,
span {
  line-height: 1.6;
  font-weight: 400;
  font-family: ArchivoRegular;
  font-size: 15px;
}
span {
  font-size: 16px;
}
h1 {
  font-size: 3.1em;
  letter-spacing: 5px;
  font-family: DMSerifDisplayRegular;
}
h2 {
  font-size: 2.4em;
  line-height: 1.1;
  font-family: DMSerifDisplayRegular;
}
h3 {
  font-size: 1.3em;
  font-family: DMSerifDisplayRegular;
}
h4 {
  font-size: 1.2em;
  letter-spacing: 0.6px;
  font-family: DMSerifDisplayRegular;
}
h5 {
  font-size: 1.1em;
  font-family: DMSerifDisplayRegular;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-family: DMSerifDisplayRegular;
}

a,
button {
  // font-family: !important;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
li {
  list-style: none;
}
a {
  font-size: 15px;
  outline: none;
}

.admin-dashboard-layout {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  justify-content: space-between;
  // background-image: linear-gradient(#f5f6f7ec, #7b7b7ce7);
  .main {
    width: 82%;
    min-height: calc(100vh);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    .admin-children-container {
      width: 100%;
      height: calc(100vh - 7em);
      display: flex;
      flex-direction: column;
    }
  }
  .mainExpand {
    width: 94%;
  }
}

.dropdownLink {
  display: flex;
  align-items: center;
  padding: 1em;
  cursor: pointer;
  img {
    height: 1.8em;
    width: 1.8em;
  }
  h4 {
    font-weight: 500;
    padding: 0 0.5em;
    font-size: 1.2em;
    text-align: center;
  }
}
.logout {
  h4 {
    color: $danger;
  }
}
