@import "../../constants/scss/colors";
@import "../../constants/scss/variables";
@import "../../constants/scss/mixins";
@import "../../constants/scss/framework";

.line {
  width: 15em;
  height: 0.05em;
  background-color: $black;
}
.filter-button {
  padding: 1em 3em;
  font-size: 1.3em;
  //   background-image: linear-gradient(#0aa7ff, #0aa5ff3a), url(../../assets/images/placeholder.png);
}
.for-parents {
  background-color: #a2ddff;
}
.for-siblings {
  background-color: #ff8ce6;
}
.for-carers {
  background-color: #ffdf8c;
}
