@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700&family=DM+Serif+Display&display=swap');
$DM: 'DM Serif Display', serif;
$Archivo: 'Archivo', sans-serif;
$teal: #009ba7;
$grey: #a9a6a6;
$blue: #0aa7ff;
$purple: #ff0ac9;
$yellow: #ffba0a;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#homePage {
  padding: 4rem 2rem;

  //   Section 2

  #intro {
    min-height: 100vh;
    display: flex;

    .introTextContent {
      //   background: #a15c5c;
      width: 60%;
      .quoteSrc {
        display: flex;
        align-items: center;
        .quote_dash {
          height: 0.75rem;
          width: 50px;
          background: $teal;
          margin-right: 1rem;
        }
        #quoteSource {
          font-size: 30px;
          font-family: $Archivo;
        }
      }
      #quote {
        font-family: $DM;
        text-transform: capitalize;
        font-size: 78px;
        //   max-width: 90%;
        margin-bottom: 4rem;
      }
    }

    //   This is the hexagon design section, I'd like to see the fucking designer work some magic 😡😤

    .introVideoButton {
      // background: rgba(80, 113, 151, 0.5);
      width: 40%;

      // .hexagon {
      height: 500px;
      width: 400px;
      background: $teal;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      // }
    }
  }

  //   Section 2

  #whoAreYou {
    min-height: 100vh;
    width: 100%;

    #whoAreYouContent {
      display: flex;
      .AboutDeets {
        width: 100%;
        h1 {
          font-family: $DM;
          font-size: 68px;
          margin: 2rem 0;
          text-transform: capitalize;
        }
        p {
          font-family: $Archivo;
          font-size: 20px;
          margin-bottom: 4rem;
          color: $grey;
          max-width: 75%;
        }
        .tagGroup {
          display: flex;
          justify-content: space-between;
          max-width: 410px;
        }
      }
      .userCategories {
        position: relative;
        right: 0;
        // background: rgb(187, 148, 148);
        width: 70%;
        padding-left: 8rem;
      }
    }
  }

  //   Section 3

  #aboutFounder {
    .aboutContent {
      margin-top: 2rem;
      display: flex;
      #Q_A {
        h1 {
          color: $teal;
          font-size: 90px;
          font-family: $DM;
          text-transform: uppercase;
          line-height: 77px;
          font-weight: normal;
          margin-bottom: 2rem;
        }

        p {
          color: $grey;
          font-family: $Archivo;
          font-size: 22px;
          margin-bottom: 6rem;
        }
      }
      #Founder {
        flex-grow: 2;
        margin: 0 2rem;
        #founderImg {
          height: 500px;
          width: 500px;
          background: url(../Assets/olufunke.svg);
          border-radius: 300px 300px 0 0;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(0, 155, 167, 0.51);
            border-radius: 300px 300px 0 0;
            height: 500px;
            width: 500px;
          }
        }
        h1 {
          text-align: center;
          font-family: $DM;
          font-size: 90px;
        }
      }
      #aboutFounder {
        .founderDetails {
          margin-bottom: 2rem;
          font-family: $Archivo;
          font-size: 16px;
        }
      }
    }
  }

  //   Section 4

  #syllabusIntro {
    margin-top: 8rem;

    #syllabusIntroContent {
      display: flex;

      #syllabusIntroTitle {
        h2 {
          font-family: $DM;
          font-size: 78px;
          text-transform: capitalize;
        }
      }
      #syllabusCards {
      }
    }
  }
}
